:root {
    --primary-color: hsl(199, 100%, 33%);
    --secondary-color: hsl(187, 85%, 43%);
    --gradient-color: linear-gradient(to right, hsl(199, 100%, 33%), hsl(187, 85%, 43%));
    --white-color: white;
    --black-color: black;
    --text-color: hsl(240, 4%, 36%);
    --body-color: rgb(240, 240, 246);
  }
.secContent{
    
        /* background-color: rgba(255, 255, 255, 0.8);
        border-radius: 1px solid rgba(241, 239, 239, 0.8);
        padding: 10px;
        font-size: 30px;
        text-align: center;
        width: 1200px;
        display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  /* background-color: rgba(186, 91, 91, 0.8);
  border-radius: 1px solid rgba(241, 239, 239, 0.8); */
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2em;
  
        
}
 .singleDestination{
      box-shadow: 1px 2px 4px rgba(149,149,142,.546);
      overflow: hidden;
    display: flex;
 
    
 }

  .main .secTitle{
      position: relative;
      width: max-content;
      color: var(--gradient-color);
      margin-left: 600px;
      font-weight: 500;
      z-index: 2;
      margin-top: -50px;
  }

  .main .secTitle:hover{
      position: absolute;
      content: '';
      background: var(--secondary-color);
      right: 0;
      bottom: 5px;
      z-index: -1;
      justify-content: center;
  }

  
img{
    height: 400px;
    width: 300px;
    padding: 1rem;
}
 
  .cardInfo{
      padding: 1rem;
  }

  .destTitle{
      color: black;
      font-size: 1.35rem;
  }
  .containent{
      gap: 5rem;
  }

  .icon{
      color: var(--text-color);
      font-size: 18px;
  }

  .name{
      color:var(--text-color);
      font-weight: 400;
      font-size: 14px;
  }

  .fees{
      /* width: 100%; */
      justify-content: space-between;
      padding: 1rem;
      margin: 1rem 0;
      border-top: 1.5px solid gray;
      border-bottom: 1.5px solid gray;
  }
  .grade{
      color: var(--text-color);
      max-width: 100px;
      line-height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .small{
      text-align: center;
      background: var(--gradient-color);
      border-radius: 1rem;
      padding: 1px 10px;
      font-size: 13px;
      color: white;
  }

  .price{
      font-size: 2rem;
      color: black;
  }

  .desc{
      font-size: 1rem;
      color: black;
      text-align: justify;
  }
  .btn{
      margin-top: 1rem;
      color: white;
      font-weight: 600;
      justify-content: space-between;
      gap: .5rem;
  }

  .btn .icon{
      align-self: center;
      font-size: 18px;
      color: white;
  }
  