:root {
    --primary-color: hsl(199, 100%, 33%);
    --secondary-color: hsl(187, 85%, 43%);
    --gradient-color: linear-gradient(to right, hsl(199, 100%, 33%), hsl(187, 85%, 43%));
    --white-color: white;
    --black-color: black;
    --text-color: hsl(240, 4%, 36%);
    --body-color: rgb(240, 240, 246);
  }
  
  .header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    width: 100%;
    z-index: 1000;
    box-shadow: 0 1px 4px rgb(188, 217, 223);
  }
  .header .logo {
    color: var(--black-color);
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1{
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  }
  .logo .icon {
    font-size: 25px;
    color: var(--primary-color);
    transform: translateY(5px);
  }
  
  @media screen and (min-width: 100px) {
    
    .navBar {
      position: absolute;
      background: var(--white-color);
      height: max-content;
      width: 80%;
      border-radius: 1rem;
      left: 50%;
      transform: translate(-50%);
      z-index: 2000;
      box-shadow: 0 2px 4px rgb(246, 253, 255);
      transition: 0.5s ease-in-out;
    }
  
     .activeNavbar {
      margin-top: 0rem;
      border-radius: 1rem;
      width: 100%;
      padding: 4rem;
      box-shadow: 0 1px 9px rgb(201, 206, 207);
    }
  
    .navLists {
      flex-direction: row;
      width: 100%;
      margin: auto;
      padding: 0.5rem 0;
      display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    }
  
    .navItems {
      padding: 0.5rem 0;
    }
  
    .navLink {
      color: var(--text-color);
      font-size: 0.9rem;
      font-weight: 600;
    }
  
    .navLink:hover {
      color: var(--primary-color);
    }

}

/* @media screen and (min-width:769px) {
  .toggleNavbar,.closeNavbar{
    display: none;
  }
  .header{
    padding: 1.5rem 2rem;
  }
  .navLists{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .navLink{
    color: var(--text-color);
    padding: 0 0.45rem;
    font-weight: 500;
  }
} */